<table class="table1">
	{% for k, v in pairs(items) do %}
	<tr>
		<td  class="pictd" > <img class="photo" src="{{v["image"]}}" ></td>
		<td class="description"><i><b>Ваш товар: {{v["type"]}}</b></i>
			<p>Товар придет: {{v["date"]}}</br></p></td>
	    <td class="price">Цена: {{v["coins1"]}}$/ Скидка: {{v["percent"]}}%</td>
	</tr>
	
	{% end %}
</table>