<table class="table1">
{% for k, v in pairs(items) do %}

    <tr>
		<td  class="pictd1" > <img class="photo" src="{{v["image"]}}" ></td>
		<td class="description"><td><i><b>Товар, который вы ищите: {{v["toyname"]}}</b></i>
            <p>{{v["sentence"]}}</p></td></b></i>
			
	    <td class="price">Цена: {{v["coins1"]}}$</td>
	</tr>
</td></tr>
{% end %}
</table>