
<div class="item1">
{% for k, v in pairs(items) do %}
<div class="block">
    <img src="{{v["image"]}}" alt="Представьте, что это новогодняя игрушка :)" />
    <h2>{{v["toyname"]}}</h2>
    <p>{{v["sentence"]}}</p>
    <p>Цена: {{v["coins1"]}}$</p>
</div>
{% end %}
</div>
